<section class="game hidden" id="quickGame">
    <div class="game-player game-player--pitch game-player--1">
        <p class="game-player__count game-player__count--1">0</p>
    </div>
    <div class="game-player game-player--2">
        <p class="game-player__count game-player__count--2">0</p>
    </div>

    <div class="buttons">
        <button class="btn btn--blue game__finish">Закончить игру</button>
        <button class="btn btn--opacity btns__prev players__prev">Назад</button>
    </div>

</section>