<section class="game hidden">
    <div class="game-player game-player--1">
        <p class="game-player__count game-player__count--1">0</p>
    </div>
    <div class="game-player game-player--2">
        <p class="game-player__count game-player__count--2">0</p>
    </div>
</section>