<header class="main-header grid">
  <div class="header-content grid">
    <h1>We are Real Creators</h1>
    <div class="header-buttons">
      <a href="#" class="button">Follow</a>
      <a href="#" class="button button_gray">Go Home</a>
    </div>
  </div>
</header>
