<section class="home visible">
    <div class="container">
        <button class="home__new-game">Новая игра</button>
        <button class="home__quick-game">Быстрый старт</button>
    </div>
</section>