<section class="home visible" id="home">
    <h1 class="h1 hidden">Главная страница</h1>
    <div class="container">
        <div class="logo">
            <img src="resources/img/logo.svg" alt="TTennis">
        </div>
        <div class="home__btns">
            <button class="btn btn--blue home__new-game">Новая игра</button>
            <button class="btn btn--opacity home__quick-game">Быстрый старт</button>
        </div>
    </div>
</section>