<section class="modal">
    <h1 class="h1 hidden">Модальные окна</h1>
    <div class="modal-exit hidden">
        <button class="modal-exit__close">Закрыть</button>
        <h2>Закончить игру?</h2>
        <div class="modal-exit__btns">
            <button class="modal-exit__btn modal-exit__btn--yes">Да</button>
            <button class="modal-exit__btn modal-exit__btn--no">Нет</button>
        </div>
    </div>
</section>