<section class="players hidden">
    <div class="container">
        <div class="players__list">
            <button class="players__item">Павел</button>
            <button class="players__item">Владислав</button>
            <button class="players__item">Виталий</button>
            <button class="players__item">Егор</button>
            <button class="players__item">Любовь</button>
            <button class="players__item">Муся</button>
            <button class="players__item">Бабуля</button>
            <button class="players__item">Путин</button>
        </div>
        <button class="players__start-game">Начать игру</button>
        <button class="players__prev">Назад</button>
    </div>
</section>