<section class="landing-section ready">
  <div class="container grid">
    <div class="ready-left">
      <h2>Are You Ready?<br>
        Are You MTHFCKU READY??</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo rem perferendis provident dolor nesciunt minima consectetur ipsum, architecto non inventore! Iure voluptatem, recusandae asperiores qui distinctio sunt, est error aliquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo rem perferendis provident dolor nesciunt minima consectetur ipsum, architecto non inventore! Iure voluptatem, recusandae asperiores qui distinctio sunt, est error aliquam!</p>
    </div>
    <div class="ready-right">
      <img src="resources/img/example.jpg" alt="">
    </div>
  </div>
</section>
