<section class="settings hidden" id="newGame">
    <h1 class="h1 hidden">Настройки</h1>
    <div class="container">
        <div class="logo">
            <img src="resources/img/logo.svg" alt="TTennis">
        </div>
        <h2 class="h2 settings__title">Настройки игры</h2>
        <input type="text" name="player_1" class="settings__player settings__player--1" placeholder="Игрок #1">
        <input type="text" name="player_2" class="settings__player settings__player--2" placeholder="Игрок #2">
        <select name="points">
            <option value="11">Играем до 11</option>
            <option value="21">Играем до 12</option>
        </select>
        <select name="pitch">
            <option value="5">Количество подач 5</option>
            <option value="5">Количество подач 3</option>
        </select>
        <div class="buttons">
            <button class="btn btn--blue settings__start-game">Разыграть</button>
            <button class="btn btn--opacity btns__prev settings__prev">Назад</button>
        </div>
    </div>
</section>