@font-face {
  font-family: 'Roboto';
  src: url('../resources/fonts/RobotoBold/RobotoBold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../resources/fonts/RobotoLight/RalewayLight.woff') format('woff');
  font-weight: 300;
}