html { box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.logo img {
  margin: auto;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 326px;
  z-index: 3;
}

