.grid {
  display: grid;
}

body {
  font-family: var(--primary-font);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 var(--gutter);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
