/*
------------------------------------------------------------------
 COLORS
------------------------------------------------------------------
*/

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #49a0d5;
  --color-secondary: #3d4357;
  --color-secondary-dark: #3e445a;

  /*
  ------------------------------------------------------------------
  GRID
  ------------------------------------------------------------------
  */

  --gutter: 20px;

  /*
  ------------------------------------------------------------------
  FONTS
  ------------------------------------------------------------------
  */

  --primary-font: "Roboto", Helvetica, Arial, sans-serif;
}
