.game {
}

.game.visible {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    cursor: pointer;
    background-color: #404b67;
}

.game-player--pitch {
    background-color: #3f4660;
}

.game-player--1 {

}

.game-player--2 {

}

.game-player__count {
    color: white;
    font-size: 200px;
    user-select: none;
}

.game .buttons {
    margin-top: -30vh;
}
