.home {
  position: relative;
  background-color: var(--color-black);
}

.home:after {
  content: '';
  position: absolute;
  top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url("../resources/img/home-bg.jpg");
    opacity: 0.42;
    background-size: cover;
}

.home__btns {
}

.home__new-game {
}

.home__quick-game {
}